# dependencies
/node_modules
/.pnp
.pnp.js

# production
db/
tasks/
files/

# enviroments
.env
venv/

#idea
.idea
.idea/
vscode/

# eggs
*.egg-info/
.installed.cfg
*.egg

# logs
*.log*

# sqlite
dist
db.sqlite3

# dll files
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

# MacOS
.DS_Store