{% extends 'user_profile/base_update.html' %}

{% block active_change_password_item %}font-medium{% endblock active_change_password_item %}

{% block edit %}
    <div style="width: 80%;"
         class="w-max m-auto w-2/4 rounded-r-lg p-4 bg-white">
        <form method="post">
            {% csrf_token %}
            <div>
                <div>
                    <label for="old_password" class="block text-base font-medium">Old password</label>
                    <input type="password" name="old_password" id="old_password" placeholder="••••••••"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2">
                </div>
                <div class="mt-2">
                    <label for="new_password" class="block text-base font-medium">New password</label>
                    <input type="password" name="new_password1" id="new_password" placeholder="••••••••"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2">
                </div>
                <div class="mt-2">
                    <label for="confirm_new_password" class="block text-base font-medium">Confirm new password</label>
                    <input type="password" name="new_password2" id="confirm_new_password" placeholder="••••••••"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2">
                </div>
            </div>
            <div class="mt-4 flex justify-start">
                <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Change Password
                </button>
                <a href="{% url 'authentication:password-reset' %}" class="flex items-center ml-6 text-sm text-blue-500 font-medium">Forgot Password?</a>
            </div>
        </form>
    </div>
{% endblock edit %}