{% extends 'user_profile/base_update.html' %}

{% block active_edit_profile_item %}font-medium{% endblock active_edit_profile_item %}

{% block edit %}
    <div style="width: 80%;"
         class="w-max m-auto w-2/4 rounded-r-lg p-4 bg-white">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div>
{#                    <img src="{{ user.user_photo.url }}" alt="">#}
                    <label class="text-sm font-medium text-blue-600" for="photo">Change profile photo</label>
                    <input type="file" name="user_photo" id="photo" style="display: none">
                </div>
                <div class="mt-2 grid md:grid-cols-2 md:gap-6">
                    <div>
                        <label for="first_name" class="block text-base font-medium text-gray-900">First
                            name</label>
                        <input type="text" name="first_name" id="first_name" placeholder="Joe"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
                               value="{{ user.first_name }}">
                    </div>
                    <div class="">
                        <label for="last_name" class="block text-base font-medium text-gray-900">Last
                            name</label>
                        <input type="text" name="last_name" id="last_name" placeholder="Doe"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
                               value="{{ user.last_name }}">
                    </div>
                </div>
                <div class="mt-2">
                    <label for="email" class="block text-base font-medium text-gray-900">Email</label>
                    <input type="email" name="email" id="email"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
                           placeholder="email@gmail.com" value="{{ user.email }}">
                </div>
                <div class="mt-2 relative">
                    <label for="date_of_birth" class="block text-base font-medium text-gray-900 dark:text-gray-300">Date
                        of birth</label>
                    <div>
                        <div class="flex absolute left-0 items-center pl-3 pointer-events-none" style="top: 55%;">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <input datepicker name="birth_date" id="date_of_birth" type="text"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2"
                               placeholder="Select date" value="{{ user.birth_date }}">
                    </div>
                </div>
            </div>
            <div class="mt-4 flex justify-start">
                <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Submit
                </button>
            </div>
        </form>
    </div>
{% endblock edit %}