{% extends 'user_profile/base.html' %}

{% block content %}
    <div class="flex p-5">
        <img class="w-36 h-36 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
             alt="Rounded avatar"/>
        <div class="ml-6 mt-4">
            <h3 class="text-xl font-medium items-center"
                style="text-transform: capitalize">{{ user.first_name }} {{ user.last_name }}</h3>
        </div>
        <div class="ml-6 mt-4">
            <a class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
               href="{% url 'user_profile:profile-update' %}">Edit Profile</a>
            <a class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
               href="{% url 'user:user-detail' user.id %}">Public View</a>
        </div>
    </div>
    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px">
            <li class="mr-2">
                <a href="#"
                   class="inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500">Assistance</a>
            </li>
        </ul>
    </div>
{% endblock %}