{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/flowbite.min.css" %}">
</head>
<body>
    <div class="m-0 p-0 h-screen flex justify-center items-center">
        {% block form %}{% endblock %}
    </div>
    <script src="{% static "js/flowbite.js" %}"></script>
    <script src="{% static "js/datepicker.js" %}"></script>
</body>
</html>